<div class="search-container">
  <mat-form-field class="buscar-item-form-field">
    <mat-label>{{ "item.search_item" | translate }}</mat-label>
    <input matInput type="text" [formControl]="nomeDoItem" />
    <button
      *ngIf="nomeDoItem.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="limparItemBuscado()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint align="start"
      ><strong>Ex: MrBeast, Homem-Aranha</strong>
    </mat-hint>
  </mat-form-field>
</div>

<div class="items-container">
  <ng-container *ngFor="let item of listaDeItens$ | async as listaDeItens">
    <div
      class="item"
      matRipple
      [id]="item.id"
      (click)="expandirItem(item)"
      (keydown.enter)="expandirItem(item)"
      (keydown.space)="expandirItem(item)"
      tabindex="0"
      role="button"
      [attr.aria-label]="'Expandir ' + item.name"
    >
      <div
        class="item-image"
        [ngStyle]="{
          '--gradiente-colors': getBackgroundRadial(item.series?.colors)
        }"
      >
        <img [src]="item.images?.icon" [alt]="item.name" />
      </div>
    </div>
  </ng-container>
</div>
