.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;
}

.noticia-item {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.noticia-image {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.noticia-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  font-size: 1em;
  line-height: 1.5;
}
