<div class="container">
  <mat-card *ngFor="let item of noticia.motds" class="noticia-item">
    <mat-card-header>
      <mat-card-title>{{ item.tabTitle }}</mat-card-title>
      <mat-card-subtitle>{{ item.title }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="body">{{ item.body }}</div>
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-button
        (click)="expandirImagem(item)"
        (keydown.enter)="expandirImagem(item)"
        (keydown.space)="expandirImagem(item)"
        tabindex="0"
      >
        Expandir Imagem
      </button>
    </mat-card-actions>

    <mat-card-footer class="noticia-image">
      <img [src]="item.tileImage" [alt]="item.title" class="image" />
    </mat-card-footer>
  </mat-card>
</div>
