<ng-container *ngIf="shop$ | async as shop">
  <h1 class="text-center">Loja de Itens</h1>
  <h2 class="text-center">Renova em {{ tempoRestante }}</h2>

  <mat-form-field appearance="fill" class="category-select">
    <mat-label>Selecione uma categoria</mat-label>
    <mat-select
      [(value)]="selectedCategory"
      (selectionChange)="selectFirstSubCategory()"
      [compareWith]="compareCategories"
    >
      <mat-option *ngFor="let category of shop.categories" [value]="category">
        {{ category.name }} ({{ category.total_items }})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="selectedCategory?.sub_category?.length > 0">
    <mat-form-field appearance="fill" class="subcategory-select">
      <mat-label>Selecione uma subcategoria</mat-label>
      <mat-select
        [(value)]="selectedSubCategory"
        [compareWith]="compareSubCategories"
      >
        <mat-option
          *ngFor="let subCategory of selectedCategory.sub_category"
          [value]="subCategory"
        >
          {{ subCategory.name }} ({{ subCategory.total_items }})
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <div class="shop-container">
    <ng-container
      *ngIf="!selectedSubCategory && selectedCategory?.items?.length > 0"
    >
      <ng-container *ngFor="let item of selectedCategory.items">
        <app-item [item]="item" class="item"></app-item>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="selectedSubCategory?.items?.length > 0">
      <ng-container *ngFor="let item of selectedSubCategory.items">
        <app-item [item]="item" class="item"></app-item>
      </ng-container>
    </ng-container>

    <ng-container
      *ngIf="
        (!selectedSubCategory &&
          (!selectedCategory?.items || selectedCategory.items.length === 0)) ||
        (selectedSubCategory &&
          (!selectedSubCategory.items ||
            selectedSubCategory.items.length === 0))
      "
    >
      <p>Nenhum item disponível.</p>
    </ng-container>
  </div>
</ng-container>
