.item {
  width: 300px;
  height: 100%;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 8px;
}

.item-image {
  width: 100%;
  height: auto;
}

.item mat-card-header,
.item mat-card-content,
.item mat-card-actions {
  background-color: rgba(0, 0, 0, 0.1);
}

.item .price {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.item .price img {
  vertical-align: middle;
  margin-right: 5px;
}

.item mat-card-actions {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.item mat-card-actions button {
  width: 100%;
}
