<div class="item">
    <div class="item-image">
        <img src={{item.newDisplayAsset.materialInstances[0].images.Background}} alt={{item.items[0].name}}>
    </div>
    <div class="item-info">
        <div class="title">{{item.items[0].name}}</div>
        <div class="price">
            <img src="/assets/vbuck/vbuck-xs.png" alt="VBuck">
            {{item.finalPrice}}
        </div>
        <div class="btnVerItem">
            <button mat-raised-button color="primary" (click)="expandirPacote(item.items)">Ver item</button>
        </div>
    </div>
</div>