<div
  class="item-card"
  [ngStyle]="getBackgroundStyle(item.colors)"
  matRipple
  (click)="expandir(item)"
>
  <ng-container *ngIf="item.colors">
    <img [src]="image" alt="Item Image" class="item-image" />
  </ng-container>
  <div class="item-header">
    <h3 class="item-title">{{ itemTitle }}</h3>
  </div>
  <div class="item-content">
    <div class="price">
      <img src="./assets/vbuck/vbuck-xs.png" alt="VBuck" />
      {{ item.finalPrice }}
      <span *ngIf="item.finalPrice < item.regularPrice" class="regular-price">
        {{ item.regularPrice }}
      </span>
    </div>
  </div>
</div>
