.item {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;

    .item-info {
        padding: 10px;

        .title,
        .price {
            font-size: 1.25rem;
            font-weight: bold;
            text-shadow: 0 0 3px #000;
            text-transform: uppercase;
            margin: 12px 0;
        }

        .price {
            display: flex;
            align-items: center;

            img {
                height: 1.5rem;
                margin-right: 5px;
            }
        }
    }
}