<div
  class="item-card"
  [appBackgroundStyle]="item.colors"
  matRipple
  (click)="expandir(item)"
  (keydown.enter)="expandir(item)"
  (keydown.space)="expandir(item)"
  tabindex="0"
  role="button"
  [attr.aria-label]="'Expandir ' + itemTitle"
>
  <div class="image-container">
    <img [src]="image" alt="Item Image" class="item-image" />
    <div class="gradient-mask"></div>
  </div>
  <div class="item-details">
    <h3 class="item-title">{{ itemTitle }}</h3>
    <div class="price">
      <img src="./assets/vbuck/vbuck-xs.png" alt="VBuck" />
      {{ item.finalPrice }}
      <span *ngIf="item.finalPrice < item.regularPrice" class="regular-price">
        {{ item.regularPrice }}
      </span>
    </div>
  </div>
</div>
