<form [formGroup]="playerForm" (ngSubmit)="onSubmit($event)">
  <mat-card>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>{{ "player.player_name" | translate }}</mat-label>
        <input
          matInput
          formControlName="name"
          (keydown.enter)="onSubmit($event)"
          required
          #nameInput
        />
        <button
          *ngIf="nameInput.value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="limparJogadorBuscado()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint>{{ "player.enter_player_name" | translate }}</mat-hint>
        <mat-error *ngIf="playerForm.get('name')?.hasError('required')">
          {{ "player.name_required" | translate }}
        </mat-error>
        <mat-error *ngIf="playerForm.get('name')?.hasError('minlength')">
          {{ "player.name_min_length" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-radio-group
        formControlName="platform"
        aria-label="Selecione a plataforma"
      >
        <mat-radio-button value="epic">EPIC</mat-radio-button>
        <mat-radio-button value="psn">PSN</mat-radio-button>
        <mat-radio-button value="xlb">Xbox</mat-radio-button>
      </mat-radio-group>

      <div class="button-container">
        <button mat-raised-button color="accent" type="submit">
          {{ "shared.search" | translate }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<ng-container *ngIf="playerStats$ | async as playerStats">
  <mat-card class="player-stats">
    <mat-card-content>
      <h1>{{ playerStats.name }}</h1>
      <div>
        {{ "player.level" | translate }} {{ playerStats.account.level }}
      </div>
      <mat-progress-bar
        mode="determinate"
        color="accent"
        [value]="playerStats.account.progress_pct"
      ></mat-progress-bar>
    </mat-card-content>
  </mat-card>

  <mat-accordion>
    <app-mode-panel
      [playerStats]="playerStats.global_stats.solo"
      [playerMode]="'game_modes.solo' | translate"
    ></app-mode-panel>
    <app-mode-panel
      [playerStats]="playerStats.global_stats.duo"
      [playerMode]="'game_modes.duo' | translate"
    ></app-mode-panel>
    <app-mode-panel
      [playerStats]="playerStats.global_stats.trio"
      [playerMode]="'game_modes.trio' | translate"
    ></app-mode-panel>
    <app-mode-panel
      [playerStats]="playerStats.global_stats.squad"
      [playerMode]="'game_modes.squad' | translate"
    ></app-mode-panel>
  </mat-accordion>
</ng-container>
