.form-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.buscar-jogador-form-field {
    width: 500px;
    margin: 0 auto;
}

.visao-geral{
    margin: 20px 0;
    .info {
        margin: 10px 0;
    }
}

.mat-list-item {
    max-width: 100%;
}

.mat-progress-spinner, .mat-accordion {
    margin: 30px 0;
}

.player {
    margin-top: 10px;
    .name {
        font-size: 1.5rem;
    }

    .nivel {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 768px) {
    .buscar-jogador-form-field {
        width: 100%;
    }
}