html,
body {
  height: 100%;
}

.drawer-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);

  .spacer {
    flex: 1 1 auto;
  }

  .sidenav {
    padding: 20px;

    .active-link {
      color: #69f0ae;
    }
  }

  .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 87%;
    margin: 1rem;

    .mat-card {
      max-width: 100%;
      box-sizing: border-box;
      /* inclui padding no tamanho total do elemento */
      flex: 1;

      .mat-card-content {
        max-width: 100%;
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(2px);
}
