<mat-drawer-container
  class="drawer-container"
  autosize
  [hasBackdrop]="isMobile"
>
  <mat-drawer #drawer class="sidenav" [mode]="mode" [opened]="!isMobile">
    <mat-nav-list *ngIf="drawer.opened">
      <ng-container *ngFor="let navItem of navItems">
        <a
          mat-list-item
          matListItemTitle
          [routerLink]="navItem.link"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="onNavItemClick(drawer)"
        >
          {{ navItem.title | translate }}
          <button mat-icon-button matListItemMeta>
            <mat-icon>{{ navItem.icon }}</mat-icon>
          </button>
        </a>
      </ng-container>
      <mat-divider></mat-divider>
      <mat-form-field appearance="outline" class="language-select">
        <mat-label>{{ "shared.language" | translate }}</mat-label>
        <mat-select
          [value]="selectedLanguageCode"
          (selectionChange)="changeLanguage($event.value)"
        >
          <mat-option
            *ngFor="let lang of availableLanguages"
            [value]="lang.code"
          >
            {{ lang.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>
      <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/" class="app-title">
        <span class="title">Fortnite App</span>
      </a>
      <span class="spacer"></span>
      <button
        mat-icon-button
        class="star-icon"
        (click)="openLink('github')"
        matTooltip="{{
          'shared.favorite' | translate : { appName: 'Fortnite App' }
        }}"
        matTooltipPosition="below"
      >
        <mat-icon svgIcon="github"></mat-icon>
      </button>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        matTooltip="{{ 'shared.share' | translate }}"
        matTooltipPosition="below"
      >
        <mat-icon>share</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="shareOnSocialMedia('whatsapp')">
          <mat-icon svgIcon="whatsapp"></mat-icon>
          <span>WhatsApp</span>
        </button>
        <button mat-menu-item (click)="shareOnSocialMedia('linkedin')">
          <mat-icon svgIcon="linkedin"></mat-icon>
          <span>LinkedIn</span>
        </button>
        <button mat-menu-item (click)="shareOnSocialMedia('twitter')">
          <mat-icon svgIcon="twitter"></mat-icon>
          <span>Twitter</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="content-container">
      <div class="wrapper-container">
        <router-outlet></router-outlet>
      </div>
    </div>

    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay"></div>
      <mat-progress-spinner
        class="spinner"
        [mode]="'indeterminate'"
        color="accent"
      ></mat-progress-spinner>
    </ng-container>
  </mat-drawer-content>
</mat-drawer-container>
