<mat-drawer-container class="drawer-container" autosize [hasBackdrop]="isMobile">
  <mat-drawer #drawer class="sidenav" [mode]="mode" opened>
    <mat-nav-list>
      <ng-container *ngFor="let navItem of navItems">
        <a mat-list-item matListItemTitle routerLink="{{navItem.link}}" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact: true}">{{ navItem.title }}
          <button mat-icon-button matListItemMeta>
            <mat-icon>{{ navItem.icon }}</mat-icon>
          </button>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Fortnite App</span>
      <span class="spacer"></span>
      <button mat-icon-button class="star-icon" (click)="openLink('github')" matTooltip="Star Fortnite App"
        matTooltipPosition="below">
        <mat-icon svgIcon="github"></mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Compartilhar" matTooltipPosition="below">
        <mat-icon>share</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="shareOnSocialMedia('whatsapp')">
          <mat-icon svgIcon="whatsapp"></mat-icon>
          <span>WhatsApp</span>
        </button>
        <button mat-menu-item (click)="shareOnSocialMedia('linkedin')">
          <mat-icon svgIcon="linkedin"></mat-icon>
          <span>LinkedIn</span>
        </button>
        <button mat-menu-item (click)="shareOnSocialMedia('twitter')">
          <mat-icon svgIcon="twitter"></mat-icon>
          <span>Twitter</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="container">
      <mat-card class="mat-card">
        <mat-card-content class="mat-card-content">
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>