<div mat-dialog-content class="modal-items">
  <ng-container *ngFor="let item of data">
    <mat-card class="item-card">
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>

        <mat-card-subtitle>
          {{ item.description }} {{ item.rarity.displayValue }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div
          class="item-image"
          [ngStyle]="{ '--gradiente-colors': getBackgroundRadial() }"
        >
          <img
            src="{{ item.images?.featured }}"
            *ngIf="item.images?.featured; else icon"
          />
        </div>
        <ng-template #icon>
          <img src="{{ item.images?.icon }}" />
        </ng-template>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
