.modal-items {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-card {
    flex: 3 2 320px;
}

.item-image {
    background: radial-gradient(circle, var(--gradiente-colors));

    img {
        display: block;
        max-width: 100%;
    }
}