<div class="bundle">
    <div class="bundle-image">
        <img src={{bundle.newDisplayAsset.materialInstances[0].images.Background}} alt={{bundle.bundle.info}}>
    </div>
    <div class="bundle-info">
        <div class="title">{{bundle.bundle.name}}</div>
        <div class="price">
            <img src="/assets/vbuck/vbuck-xs.png" alt="VBuck">
            {{bundle.finalPrice}}
        </div>
        <div class="btnVerPacote">
            <button mat-raised-button color="primary" (click)="expandirPacote(bundle.items)">Ver pacote</button>
        </div>
    </div>
</div>