<div mat-dialog-content class="modal-items">
  <mat-card class="item-card">
    <mat-card-header>
      <mat-card-title>{{ data.name }}</mat-card-title>
      <mat-card-subtitle
        >{{ data.type.displayValue }} -
        {{ data.rarity.displayValue }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="item-image">
        <img src="{{ data.images.large }}" alt="Imagem de {{ data.name }}" />
      </div>
      <div class="item-details">
        <p><strong>Descrição:</strong> {{ data.description }}</p>
        <p>
          <strong>Adicionado em:</strong> {{ data.added | date : "dd/MM/yyyy" }}
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
