<mat-expansion-panel [expanded]="expanded">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ playerMode }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="items-container">
    <mat-card class="item">
      <mat-card-title>Vitórias</mat-card-title>
      <mat-card-content>{{ playerStats.placetop1 }}</mat-card-content>
    </mat-card>
    <mat-card class="item">
      <mat-card-title>WinRate</mat-card-title>
      <mat-card-content>{{
        playerStats.winrate | percent : "1.2-2"
      }}</mat-card-content>
    </mat-card>
    <mat-card class="item">
      <mat-card-title>Partidas</mat-card-title>
      <mat-card-content>{{ playerStats.matchesplayed }}</mat-card-content>
    </mat-card>
    <mat-card class="item">
      <mat-card-title>Minutos Jogados</mat-card-title>
      <mat-card-content>{{ playerStats.minutesplayed }}</mat-card-content>
    </mat-card>
    <mat-card class="item">
      <mat-card-title>Última atualização</mat-card-title>
      <mat-card-content>{{
        playerStats.lastmodified * 1000 | date : "dd/MM/yyyy hh:mm:ss a"
      }}</mat-card-content>
    </mat-card>
  </div>
</mat-expansion-panel>
